.title {
    color: #050a72;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}

#silly {
    background-color: rgb(207, 128, 236);
    
}

ul {
    font-size: 20px;
    font-family: montserrat, "Century Gothic", arial;
}

#image {
    display: flex;
    justify-content: center;
    
}